:root {
   color-scheme: dark
}

body {
   @apply w-screen h-screen bg-midnight-150 overflow-x-hidden;
   margin: 0
}

body, #__layout, #__axhl-root {
   @apply w-screen h-screen
}

body::before {
   content: "";
   position: absolute;
   right: 0px;
   width: 50%;
   height: 100%;
   background: linear-gradient(0deg,#272130,rgba(39,33,48,.5)),linear-gradient(90deg,#272130,rgba(39,33,48,.5)),url(/bg.jpg);
   background-position: 80% 100%;
   background-size: cover;
   background-repeat: no-repeat;
   z-index: -1
}

a {
   @apply text-midnight-500
}

a:hover {
   @apply text-midnight-900 underline !important
}

a.nuxt-link-exact-active {
   @apply text-midnight-600
}


.top-full {
   top: 100%
}

li {
   @apply my-2
}

.__axhl-loading-container {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 150px;
   height: 150px;
   border-radius: 100%;
   border: 1px solid #383240;
   animation: 5s ease-in-out normal infinite pulse
 }

@keyframes pulse {
   0% {
      color: #CBA1FF
   }
   50% {
      color: #967bb6
   }
   100% {
      color: #CBA1FF
   }
}
