html {
   @apply w-screen h-screen text-white;
}

:root {
   color-scheme: dark
}

body {
   @apply w-full h-full flex flex-col bg-midnight-150 overflow-x-hidden;
   margin: 0
}

body::before {
   content: "";
   position: absolute;
   right: 0px;
   width: 50%;
   height: 100%;
   background: linear-gradient(0deg,#272130,rgba(39,33,48,.5)),linear-gradient(90deg,#272130,rgba(39,33,48,.5)),url(/bg.jpg);
   background-position: 80% 100%;
   background-size: cover;
   background-repeat: no-repeat;
   z-index: -1
}

a {
   @apply text-midnight-500 underline
}

a:hover {
   @apply text-midnight-700
}

.top-full {
   top: 100%
}

li {
   @apply my-2
}